APP_SETTINGS=config.DevelopmentConfig
SECRET_KEY=change-me
ADMIN_KEY=change-me
REVIEWER_KEY=change-me
EDITOR_KEY=change-me
DATABASE_URL=sqlite:///scale_av_cutter.db
SIGNS_URL=https://www.socallinuxexpo.org/scale/23x/signs
