#left {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

#right {
  height: calc(100vh - 56px); /* 56px = Bootstrap navbar height */
  overflow-y: auto;
}

.talk {
  margin-bottom: 3px;
  overflow-x: hidden;
}

.talk-header {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: none;
  color: white;
}

.talk-contents {
  padding: 10px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.talk.active .talk-contents {
  display: block;
}

.talk-controls {
  display: grid;
  grid-template-columns: auto auto;
}

.talk-controls button {
  padding: 6px;
  border-color: #ccc;
}

.notes {
  height: 5em;
  margin: 3px;
}

button.notes-save {
  transition: 0.4s;
}
button.notes-save:disabled {
  background: #545b62;
}

.header-incomplete {
  background: #545b62;
}
.header-done {
  background: #1e7e34;
}
.header-unusable {
  background: #d39e00;
}
.header-done-reviewing {
  background: linear-gradient(to right, #1e7e34, #545b62 50%);
}
.header-unusable-reviewing {
  background: linear-gradient(to right, #d39e00, #545b62 50%);
}
