<html>
<head>
  <title>SCALE AV Cutter - Admin config</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>
  <div class="form-group" id="config-box">
    <label>Admin password</label>
    <div class="input-group">
      <input class="form-control mr-1" type="password" id="admin-password">
      <button type="button" class="show-hide btn btn-default" aria-label="Show hide password">
        <img class="show-hide-set-visible" src="/static/icons/eye-fill.svg" alt="" width="24" height="24">
        <img class="show-hide-set-hidden" src="/static/icons/eye-slash-fill.svg" alt="" width="24" height="24" hidden>
      </button>
    </div>
    <p>Enter the admin password to enable setting video IDs and reviewing cuts</p>
  </div>

  <script src="/static/admin.js"></script>
</body>
</html>
