<html>
<head>
  <title>SCALE AV Splitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <div class="main">

    <div class="left">
      <h1 class="mb-4">{{ room_day.day|safe }} - {{ room_day.room|safe }}</h1>
      <div id="player" data-vid="2VHtwQW4qA8"></div>
    </div>

    <div class="right">
      <h3>Talks</h3>
      <!--<label>Progress: <span id="cuts-finished">0</span>/{{ cuts|length }}</label>-->
      <br>
      <div class="cuts">

        {% for cut in cuts %}
        <div class="cut" data-id="{{ cut.id|safe }}">
          <button class="btn cut-header">
            <span class="cut-video-time"></span>
            <span class="cut-title">{{ cut.title|safe }}</span>
          </button>
          <div class="cut-contents">
            <a href="https://www.socallinuxexpo.org{{ cut.path }}">Talk page</a><br>
            <label>Scheduled time: {{ cut.sched_start|safe }} to {{ cut.sched_end|safe }}</label><br>
            <div class="cut-controls">
              <div class="cut-time cut-time-start">
                <label>Video start</label>
                <input type="text" class="cut-time-input form-control mb-1" placeholder="0:00:00" data-initial="{{ cut.start }}">
                <button type="button" class="cut-time-seek btn btn-default" aria-label="Left Align">
                  <img src="/static/icons/play-fill.svg" alt="" width="24" height="24">
                </button>
                <button type="button" class="cut-time-sample btn btn-default" aria-label="Left Align">
                  <img src="/static/iconmonstr-eyedropper-1.svg" alt="" width="24" height="24">
                </button>
              </div>
              <div class="cut-time cut-time-end">
                <label>Video end</label>
                <input type="text" class="cut-time-input form-control mb-1" placeholder="0:00:00" data-initial="{{ cut.end }}">
                <button type="button" class="cut-time-seek btn btn-default" aria-label="Left Align">
                  <img src="/static/icons/play-fill.svg" alt="" width="24" height="24">
                </button>
                <button type="button" class="cut-time-sample btn btn-default" aria-label="Left Align">
                  <img src="/static/iconmonstr-eyedropper-1.svg" alt="" width="24" height="24">
                </button>
                <br>
              </div>
              <div class="cut-status">
                <strong><label>Edit status</label></strong>
                {% for status in EditStatus %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="cut-status-{{ cut.id }}" id="{{ status }}-{{ cut.id }}" value="{{ status }}" {{ 'checked' if cut.edit_status == status else ''}}>
                  <label class="form-check-label" for="{{ status }}-{{ cut.id }}">{{ status[0]|upper }}{{ status[1:] }}</label>
                </div>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <br><br><br><br><br>
		</div>
  </div>

  <script src="/static/splitter.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
